.navbarcolor {
    background-color: #C7F9CC !important;
}


.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.fa-basket-shopping {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}