@media screen and (max-width: 960px) {

    .mobile-login {
        width: 50rem !important;
        
    }


}

/* @media screen and (max-width: 400px) {

    .mobile-signup {
        width: 50rem;
        background-color: aqua;
    }


} */