.button-search {
    background-color: #38A3A5 !important;
    width: 150px;
    
}

.search-inputtext {
    color: #22577A;
    
}

.herotext {
    color: #ffffff;
}

.btn--outline {
    background-color: #38A3A5 !important;
    border-radius: 25px;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid white;
    transition: all 0.3s ease-out;
    
}

.mainsearch-link {
    color: white !important;
    outline: none;
    text-decoration: none;
}

.mainsearch-input {
    margin-bottom: 30px;
}

.allbusiness-btn {
    color: white !important;
}

@media screen and (max-width: 960px) {

    .herotext {
        font-size: 20px;
        margin-bottom: -25px;
        
    }

    .btn--outline {
        background-color: #38A3A5 !important;
        border-radius: 25px;
        color: #fff;
        padding: 2px 5px;
        border: 1px solid white;
        transition: all 0.3s ease-out;
        width: 60%;
        
    }

    .mainsearch-input {
        margin-bottom: -10px;
        margin-right: 10px;
        float: left !important;
    }

    .search-inputtext {
        color: #22577A;
        display: flex;
        
    }

    .mobile-input-group {
        display: flex;
        flex-direction: column;
    }

    .searchcity-button {
        width: 60%;
    }

    


}

@media screen and (max-width: 390px) {

    .herotext {
        font-size: 10px;
        margin-bottom: -25px;
        
        
    }

    .btn--outline {
        background-color: #38A3A5 !important;
        border-radius: 25px;
        color: #fff !important;
        padding: 2px 5px !important;
        border: 1px solid white;
        transition: all 0.3s ease-out;
        width: 60%;
        
    }

    .mainsearch-input {
        margin-bottom: -10px;
        margin-right: 10px;
        float: left !important;
    }

    .search-inputtext {
        color: #22577A;
        display: flex;
        font-size: 10px;
        
    }

    .mobile-caption {
        width: 20rem;
        left: 5% !important;

    }

    .searchcity-button {
        width: 60%;
    }

    


}